{% extends 'main.html' %}

{% block content %}

<a href="{% url 'edit-account' %}">Edit Account</a>

<h1>Username: {{profile.username}}</h1>
<img src="{{profile.profile_image.url}}" alt="Profile Image" width="200" height="200">
<h1>Name: {{profile.name}}</h1>
<h1>Email: {{profile.email}}</h1>

<p><a href="{% url 'add-table' %}">Create a new Record</a></p>

<p>Previously Created Records</p>

{% for table in profile.table_set.all %}
<li><a href="{% url 'view-table' table.id %}">{{table.title}}</a></li>
{% endfor %}

{% endblock %}