{% extends 'main.html' %}

{% block content %}

<h1><a href="{% url 'view-table' sug.table_name.id %}">{{table.title}}</a></h1>
<h2>Suggestion by <a href="{% url 'user-profile' sug.owner.id %}">@{{sug.owner.username}}</a>:</h2>

{% if sug.desc %}
<h3>{{sug.desc}}</h3>
{% endif %}

<table>
    <tr>
        <th>Sr.No</th>
        {% if sug.col1 %}
        <th>{{sug.col1}}</th>
        {% endif %}
        {% if sug.col2 %}
        <th>{{sug.col2}}</th>
        {% endif %}
        {% if sug.col3 %}
        <th>{{sug.col3}}</th>
        {% endif %}
        {% if sug.col4 %}
        <th>{{sug.col4}}</th>
        {% endif %}
        {% if sug.col5 %}
        <th>{{sug.col5}}</th>
        {% endif %}
        {% if c != 0 %}
        <th scope="col">Date (yyyy-mm-dd)</th>
        {% endif %}
        {% if request.user.profile.id == sug.owner.id %}
        <th><a href="{% url 'edit-suggestion' sug.id %}">Edit</a></th>
        <th><a href="{% url 'add-suggestion-row' sug.id %}">Add a row</a></th>
        {% endif %}
        {% if request.user.profile.id == sug.owner.id or request.user.profile.id == table.owner.id %}
        <th><a href="{% url 'delete-suggestion' sug.id %}">Delete suggestion</a></th>
        {% endif %}

    </tr>
    {% for row in rows %}
    <tr>
        <td>{{forloop.counter}}</td>

        {% if sug.col1 %}
        {% if row.col1 %}
        <td>{{row.col1}}</td>
        {% else%}
        <td></td>
        {% endif %}
        {% endif %}

        {% if sug.col2 %}
        {% if row.col2 %}
        <td>{{row.col2}}</td>
        {% else%}
        <td></td>
        {% endif %}
        {% endif %}

        {% if sug.col3 %}
        {% if row.col3 %}
        <td>{{row.col3}}</td>
        {% else%}
        <td></td>
        {% endif %}
        {% endif %}

        {% if sug.col4 %}
        {% if row.col4 %}
        <td>{{row.col4}}</td>
        {% else%}
        <td></td>
        {% endif %}
        {% endif %}

        {% if sug.col5 %}
        {% if row.col5 %}
        <td>{{row.col5}}</td>
        {% else%}
        <td></td>
        {% endif %}
        {% endif %}

        {% if row.date %}
        <td>{{row.date}}</td>
        {% else%}
        <td></td>
        {% endif %}

        {% if request.user.profile == sug.owner or request.user.profile == sug.table_name.owner %}
        <td><a href="{% url 'edit-suggestion-row' sug.id row.id %}">Edit row</a></td>
        <td><a href="{% url 'delete-suggestion-row' row.id %}">Delete row</a></td>
        {% endif %}
        
    </tr>
    {% endfor %}

</table>
<p>Total number of row{{sug.total|pluralize:"s"}}: {{sug.total}}</p>

{% endblock %}