{% extends 'main.html' %}

{% block content %}

<h1>{{table.title}}</h1>

{% if table.desc %}
<p>{{table.desc}}</p>
{% endif %}

<form id='searchForm' class="form" action="{% url 'view-table' table.id %}" method="get">
    <div class="form__field">
      <label for="formInput#search">Search for a record </label>
      <input class="input input--text" id="formInput#search" type="text" name="search_query"
        placeholder="Search" value="{{search_query}}" />
    </div>

    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
  </form>

<table>
    <tr>
        <th>Sr.No</th>
        {% if table.col1 %}
        <th>{{table.col1}}</th>
        {% endif %}
        {% if table.col2 %}
        <th>{{table.col2}}</th>
        {% endif %}
        {% if table.col3 %}
        <th>{{table.col3}}</th>
        {% endif %}
        {% if table.col4 %}
        <th>{{table.col4}}</th>
        {% endif %}
        {% if table.col5 %}
        <th>{{table.col5}}</th>
        {% endif %}
        <th>Date (yyyy-mm-dd)</th>
        <th><a href="{% url 'edit-table' table.id %}">Edit</a></th>
        <th><a href="{% url 'add-row' table.id %}">Add a row</a></th>
    </tr>
    {% for row in rows %}
    <tr>
        <td>{{forloop.counter}}</td>
        {% if row.col1 %}
        <td>{{row.col1}}</td>
        {% endif %}
        {% if row.col2 %}
        <td>{{row.col2}}</td>
        {% endif %}
        {% if row.col3 %}
        <td>{{row.col3}}</td>
        {% endif %}
        {% if row.col4 %}
        <td>{{row.col4}}</td>
        {% endif %}
        {% if row.col5 %}
        <td>{{row.col5}}</td>
        {% endif %}
        {% if row.date %}
        <td>{{row.date}}</td>
        {% endif %}
        
        <td><a href="{% url 'edit-row' table.id row.id %}">Edit row</a></td>
        <td><a href="{% url 'delete-row' row.id %}">Delete row</a></td>
    </tr>
    {% endfor %}
</table>
<p>Total number of rows: {{table.total}}</p>
<p><a href="{% url 'delete-table' table.id %}">Delete Table</a></p>
<p><a href="{% url 'view-pdf' table.id %}">View PDF</a></p>
<p><a href="{% url 'download-pdf' table.id %}">Download as PDF</a></p>
{% endblock %}