{% extends 'main.html' %}

{% block content %}

<h1>{{table.title}}</h1>

{% if table.desc %}
<p>{{table.desc}}</p>
{% endif %}

{% if table.total != 0 %}
<form id='searchForm' class="form" action="{% url 'view-table' table.id %}" method="get">
    <div class="form__field">
      <label for="formInput#search">Search for a record </label>
      <input class="input input--text" id="formInput#search" type="text" name="search_query"
        placeholder="Search" value="{{search_query}}" />
    </div>

    <input class="btn btn--sub btn--lg" type="submit" value="Search" />
  </form>

  <form id='searchForm' class="form" action="{% url 'view-table' table.id %}" method="get">
    <div class="form__field">
      <label for="formInput#search">Order By</label>
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="created" />Earliest
      {% if table.col1 %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="col1" />{{table.col1}}
      {% endif %}
      {% if table.col2 %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="col2" />{{table.col2}}
      {% endif %}
      {% if table.col3 %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="col3" />{{table.col3}}
      {% endif %}
      {% if table.col4 %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="col4" />{{table.col4}}
      {% endif %}
      {% if table.col5 %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="col5" />{{table.col5}}
      {% endif %}
      {% if "Date" in rows.date %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="date" />Date
      {% endif %}
      <input class="input input--text" id="formInput#search" type="radio" name="order_query"
        value="-created" />Latest
    </div>

    <input class="btn btn--sub btn--lg" type="submit" value="Order" />
  </form>
  {% endif %}


<table>
    <tr>
        <th>Sr.No</th>
        {% if table.col1 %}
        <th>{{table.col1}}</th>
        {% endif %}
        {% if table.col2 %}
        <th>{{table.col2}}</th>
        {% endif %}
        {% if table.col3 %}
        <th>{{table.col3}}</th>
        {% endif %}
        {% if table.col4 %}
        <th>{{table.col4}}</th>
        {% endif %}
        {% if table.col5 %}
        <th>{{table.col5}}</th>
        {% endif %}
        {% if c != 0 %}
        <th scope="col">Date (yyyy-mm-dd)</th>
        {% endif %}
        {% if request.user.id == profile.id %}
        {% if request.user.id == profile.id %}
        <th><a href="{% url 'edit-table' table.id %}">Edit</a></th>
        <th><a href="{% url 'add-row' table.id %}">Add a row</a></th>
        {% endif %}
        {% endif %}
    </tr>
    {% if table.total != 0 %}
    {% for row in rows %}
    <tr>
        <td>{{forloop.counter}}</td>

        {% if row.col1 %}
        <td>{{row.col1}}</td>
        {% endif %}

        {% if row.col2 and table.col2 %}
        <td>{{row.col2}}</td>
        {% endif %}

        {% if row.col3 and table.col3 %}
        <td>{{row.col3}}</td>
        {% endif %}

        {% if row.col4  and table.col4 %}
        <td>{{row.col4}}</td>
        {% endif %}

        {% if row.col5 and table.col5 %}
        <td>{{row.col5}}</td>
        {% endif %}

        {% if row.date %}
        <td>{{row.date}}</td>
        {% endif %}
        {% if request.user.id == profile.id %}
        <td><a href="{% url 'edit-row' table.id row.id %}">Edit row</a></td>
        <td><a href="{% url 'delete-row' row.id %}">Delete row</a></td>
        {% endif %}
    </tr>
    {% endfor %}
    
    {% else %}
    <tr>
        <td colspan="8">No records found</td>
    </tr>
    {% endif %}
</table>
<p>Total number of row{{table.total|pluralize:"s"}}: {{table.total}}</p>
{% if request.user.id == profile.id %}
<p><a href="{% url 'delete-table' table.id %}">Delete Table</a></p>
{% endif %}
<p><a href="{% url 'view-pdf' table.id %}">View PDF</a></p>
<p><a href="{% url 'download-pdf' table.id %}">Download as PDF</a></p>
{% endblock %}